{% extends 'layout/empty.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="homepage-bg"></div>
    <div class="row">
        <div class="col-md-5 col-xs-8 mx-auto">
            <div class="container homepage-box">
                <h1 class="box-heading">{{ _appname }}</h1>
                {% for msg in flashbag('success') %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Well done!</strong> {{ msg }}
                    </div>
                {% endfor %}

                {% for msg in flashbag('warning') %}
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Check yo self!</strong> {{ msg }}
                    </div>
                {% endfor %}

                {% for error in flashbag('danger') %}
                    <div class="alert alert-dismissible alert-primary">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap!</strong> {{ error }}
                    </div>
                {% endfor %}

                {{ partial(signinView) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/app.index.js') }}"></script>
{% endblock %}