{% extends 'layout/default.html.twig' %}

{% block title %}{{ session.name }}{% endblock %}

{% block content %}
    {% set is_gm = _user == session.host or _user.role == 'super game master' %}
    <section id="session_chatbox">
        <h1 class="section-heading">
            {{ session.name }}
            <span class="float-right">
                <span class="fa fa-fw fa-users" aria-hidden="true"></span>
                <span class="offscreen">Players</span>
                <span id="players_count">{{ session.players|length }}</span> /
                {% if session.playersLimit is null %}
                    &infin;
                {% else %}
                    {{ session.playersLimit }}
                {% endif %}
            </span>
        </h1>
        <div class="row">
            <div class="col-md-8 session-chat">
                <ul id="message_container" class="message-container list-group d-flex flex-column-reverse scrollbar-macosx">
                    <li class="list-group-item mt-2 d-flex">
                        <span class="fa fa-fw fa-bell mr-3 notification-icon" aria-hidden="true"></span>
                        <span class="offscreen">Session notification</span>
                        <div class="message-body">
                            <p>
                                Session has just started!
                            </p>
                            <small class="text-muted mt-2">{{ 'now - 1 day'|date|time_diff }}</small>
                        </div>
                    </li>
                    <li class="list-group-item mt-2 d-flex">
                        <img src="{{ asset('uploads/f15e67dc041c78179efcbc6f42066206.jpeg') }}" alt="" class="rounded-circle mr-3" width="40" height="40">
                        <div class="message-body">
                            <p>
                                {{ '[do]Wchodzi do karczmy dziarskim krokiem.[/do]
                                Witam waszmościów! Karczmarz, piwa dla wszystkich!
                                [do]Woła zmierzając ku ladzie.[/do]'|format_message|nl2br }}
                            </p>
                            <small class="text-muted mt-2">Assasz Rack Shan {{ 'now - 1 day'|date|time_diff }}</small>
                        </div>
                    </li>
                </ul>
                <form id="session_message" class="mt-4" method="post">
                    <div class="input-group">
                        <label class="floating-label" for="message">Message</label>
                        <textarea id="message" name="message" rows="3" class="form-control" aria-describedby="message_help"></textarea>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary px-4" data-toggle="tooltip" data-placement="bottom" title="Send message" data-original-title="Send message">
                                <span class="fa fa-fw fa-paper-plane" aria-hidden="true"></span>
                                <span class="offscreen">Send</span>
                            </button>
                        </div>
                    </div>
                    <small id="message_help" class="form-text text-muted">Typical message consist of description what your character is doing and saying. Place "doing" part between [do] and [/do] tags, to keep it distinguishable.</small>
                </form>
            </div>
            <div class="col-md-4 session-players">
                <a href="{{ path('Session:leave', {'channel': session.channel}) }}" class="btn btn-primary btn-block mb-2" role="button" data-action="quit-session">
                    {% if is_gm %}
                        End session
                    {% else %}
                        Leave session
                    {% endif %}
                </a>
                <ul id="session_players" class="list-group scrollbar-macosx">
                    {% for player in session.players %}
                        <a href="{{ path('Profile:index', {'userId': player.id}) }}">
                            <li class="list-group-item mb-2 {% if player == _user %}active{% endif %}">
                                <img src="{{ asset(player.profile.avatarPath|default('images/default-avatar.jpg')) }}" class="rounded-circle mr-3" alt="{{ player.profile.ign }}" width="40px">
                                <p class="d-inline">
                                    {{ player.profile.ign }}
                                    {% if player.role is not null %}
                                        <span class="badge badge-primary ml-3">{{ player.role|upper }}</span>
                                    {% elseif player == session.host %}
                                        <span class="badge badge-primary ml-3">{{ 'game master'|upper }}</span>
                                    {% endif %}
                                </p>
                                {#{% if is_gm and player.role != 'super game master'%}#}
                                    {#<span class="fa fa-fw fa-gavel float-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Punish player" data-original-title="Punish player"></span>#}
                                {#{% endif %}#}
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section id="session_backstory" class="mt-4">
        <h2 class="section-heading">Session backstory</h2>
        <img src="{{ asset(session.imagePath|default('images/default-session-image.jpeg')) }}" class="img-fluid" alt="{{ session.name }}">
        <p class="mt-4">{{ session.backstory|nl2br }}</p>
    </section>

    <div id="leave_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Session has come to end</h5>
                </div>
                <div class="modal-body">
                    <p>Game Master has ended this session. You can leave now.</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('Session:leave', {'channel': session.channel}) }}" class="btn btn-primary" role="button">Leave</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var streamRoute = '{{ path('Session:stream', {'channel':session.channel}) }}',
            user = '{{ _user.id }}',
            isGm = '{{ (_user.id == session.host.id or _user.role == 'super game master') }}',
            channel = '{{ session.channel }}';
    </script>
    <script src="{{ asset('js/autobahn.min.js') }}"></script>
    <script src="{{ asset('js/reconnecting-eventsource.js') }}"></script>
    <script src="{{ asset('js/app.session-play.js') }}"></script>
{% endblock %}