{% extends 'layout/default.html.twig' %}

{% block title %}{{ profile.ign }}{% endblock %}

{% block content %}
    <section id="profile-overview">
        <h1 class="section-heading">
            {{ profile.ign }}
            {% if profile.user.role != null %}
                <span class="badge badge-primary ml-2">{{ profile.user.role|upper }}</span>
            {% endif %}
            {% if is_granted() and profile.user.id == _user.id %}
                <a href="{{ path('Profile:edit') }}" class="float-right" data-toggle="tooltip" data-placement="left" title="Edit profile" data-original-title="Edit profile">
                    <span class="fa fa-fw fa-pencil" aria-hidden="true"></span>
                    <span class="offscreen">Edit profile</span>
                </a>
            {% endif %}
        </h1>
        <img src="{{ asset(profile.avatarPath|default('images/default-avatar.jpg')) }}" alt="{{ profile.ign }}" class="rounded-circle d-block mx-auto mb-4" width="300px">
        <div class="row justify-content-center">
            <p class="profile-info col-lg-2 col-md-4 col-sm-6" {% if profile.race|length > 40 %}data-toggle="tooltip" data-placement="bottom" title="{{ profile.race|default('unknow') }}" data-original-title="{{ profile.race|default('unknow') }}"{% endif %}>
                {{ (profile.race|length > 40) ? profile.race|slice(0, 40) ~ '...' : profile.race|default('unknow') }}
                <span class="profile-label">Race</span>
            </p>
            <p class="profile-info col-lg-2 col-md-4 col-sm-6" {% if profile.origin|length > 40 %}data-toggle="tooltip" data-placement="bottom" title="{{ profile.origin|default('unknow') }}" data-original-title="{{ profile.origin|default('unknow') }}"{% endif %}>
                {{ (profile.origin|length > 40) ? profile.origin|slice(0, 40) ~ '...' : profile.origin|default('unknow') }}
                <span class="profile-label">Origin</span>
            </p>
            <p class="profile-info col-lg-2 col-md-4 col-sm-6" {% if profile.age|length > 40 %}data-toggle="tooltip" data-placement="bottom" title="{{ profile.age|default('unknow') }}" data-original-title="{{ profile.age|default('unknow') }}"{% endif %}>
                {{ (profile.age|length > 40) ? profile.age|slice(0, 40) ~ '...' : profile.age|default('unknow') }}
                <span class="profile-label">Age</span>
            </p>
            <p class="profile-info col-lg-2 col-md-4 col-sm-6" {% if profile.occupation|length > 40 %}data-toggle="tooltip" data-placement="bottom" title="{{ profile.occupation|default('unknow') }}" data-original-title="{{ profile.occupation|default('unknow') }}"{% endif %}>
                {{ (profile.occupation|length > 40) ? profile.occupation|slice(0, 40) ~ '...' : profile.occupation|default('unknow') }}
                <span class="profile-label">Occupation</span>
            </p>
            <p class="profile-info col-lg-2 col-md-4 col-sm-6">
                {{ profile.user.lastActivityDate|date|time_diff|default('never') }}
                <span class="profile-label">Last seen</span>
            </p>
        </div>
    </section>
    <section id="profile-full" class="mt-4">
        <h2 class="section-heading">Full profile</h2>
        <p>
            {{ profile.full|raw|default('This character is shrouded in a mist of mystery.') }}
        </p>
    </section>
{% endblock %}