{% set base = (is_pjax(_request)) ? 'base_pjax.html.twig' : 'base.html.twig' %}

{% extends base %}

{% block layout %}
    {% set route = _request.query.get('route')|split('/') %}
    {% set route = route[0] ~ '/' ~ route[1] %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('Session:index') }}">{{ _appname }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto ml-auto w-100 justify-content-end">
                    <li class="nav-item mr-lg-4 {% if route == 'session/index' %}active{% endif %}">
                        <a class="nav-link" href="#">
                            <span class="fa fa-fw fa-beer" aria-hidden="true"></span>
                            Sessions
                        </a>
                    </li>
                    <li class="nav-item mr-lg-4 {% if route == 'user/lobby' %}active{% endif %}">
                        <a class="nav-link" href="#">
                            <span class="fa fa-fw fa-users" aria-hidden="true"></span>
                            Lobby
                        </a>
                    </li>
                    <li class="nav-item mr-lg-4 {% if route == 'profile/index' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('Profile:index', {'userId': _user.id }) }}">
                            <span class="fa fa-fw fa-user" aria-hidden="true"></span>
                            Profile
                        </a>
                    </li>
                    <li class="nav-item mr-lg-4 {% if route == 'user/edit' %}active{% endif %}">
                        <a class="nav-link" href="#">
                            <span class="fa fa-fw fa-cog" aria-hidden="true"></span>
                            Account
                        </a>
                    </li>
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link" href="{{ path('User:signout') }}">
                            <span class="fa fa-fw fa-sign-out" aria-hidden="true"></span>
                            Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main-content" role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <hr>
            <p>{{ 'now'|date('Y') }} &copy; {{ _appname }}</p>
        </div>
    </footer>
{% endblock %}